body {
    background-color: #004369;
}

#intro {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    color: #E5DDC8;
}

#fName{
    position: relative;
    width: 100%;
}

#sub {
    position: relative;
    font-size: 35px;
    left: 30%;
}

.text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    color: #E5DDC8;
}